@charset "utf-8";


li{

    list-style-type: none;
}


.top{
    background-image:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/illustraion/hero_2.jpg);
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    padding :  200px  30px;


}


.note{

    background-color: #007BFF;
    width: 100%;
    height: 180vh;
    color: white;
}

.makes img{

width: 100%;
height: 350px;


}

.last{

    background-color: #007BFF;
    width: 100%;
    height: 55vh;
    color: white;
    text-align: center;
}

footer{

    background-color:#333333 ;
    width: 100%;
    height: 170vh;
}

.bottom input{

    margin-top: 20px;
    width: 230px;
height: 9px;
background-color: transparent;
border: 1px solid gray;
padding: 24px;
}
.bottom{
display: flex;

}
.primary{
    border: none;
    width: 120px;
    height: 50px;
    margin-left: -73px;
    margin-top: 20px;
} 










@media only screen and (min-width : 768px){

    
.note{

    background-color: #007BFF;
    width: 100%;
    height: 120vh;
    color: white;
}
.makes img{

    width: 100%;
    height: 550px;
    
    
    }

    .notes{
        width: 75%;
        margin: 0 auto;
        
        }
        
        .last p{
            width: 75%;
            margin: 0 auto;
            
            }


            footer{

                background-color:#333333 ;
                width: 100%;
                height: 100vh;
            }
            
.footone{
    width: 25%;
    margin: 0 auto;
}
            

        }


@media only screen and (min-width : 992px){

    
.top{
    background-image:  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/illustraion/hero_2.jpg);
    width: 100%;
    height: 850px;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 300px;

}


.note{

    background-color: #007BFF;
    width: 100%;
    height: 55vh;
    color: white;
}

.notes{
width: 25%;

}

.mote{
    width: 60%;
}

.last p{
width: 50%;
margin: 0 auto;

}

.last{
    height: 45vh;

}

.foot{

    margin-left: 250px;
}


footer{

    background-color:#333333 ;
    width: 100%;
    height: 85vh;
}


}